.jumbotron {
    background-color: #1B7D7A;
    color: wheat;
}

.btn {
    background-color: #1B7D7A;
    color: wheat;
    width: 100%;
}

.card-hotel {
    flex: 1 150;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}